<section class='dashboard'>
  <article>
    <h3><%= link_to 'App Request', '#', :id => :app_request %></h3>
    <p>Send application requests to your friends.</p>
    <p>This functionality is for iframe applications running on apps.facebook.com domain.</p>
  </article>
</section>

<script>
$(function () {
  $('#app_request').click(function () {
    FB.ui({
      method: 'apprequests',
      message: 'You should learn more about this awesome game.',
      data: 'tracking information for the user'
    });
  });
});
</script>
